@import "tailwindcss";
@import 'ngx-toastr/toastr';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #070B14;
  color: #F8FAFC;
}